<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Some Website</title>
    </head>
    <body>
        <h1>{{pageTitle}}</h1>
        <p>Hi {{username}}, how are you</p>
        {{> footer}}
    </body>
</html>


